<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".question"></activity>
        <activity android:name=".Subject" />
        <activity android:name=".Account" />
        <activity
            android:name=".Navigation1"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Class1" />
        <activity android:name=".Branch" />
        <activity android:name=".Semester" />
        <activity android:name=".Reset_Password" />
        <activity android:name=".OTP" />
        <activity android:name=".Send_OTP" />
        <activity android:name=".SignUp_form" />
        <activity android:name=".Admin_Login" />
        <activity android:name=".Login_form" />
        <activity android:name=".Login_select" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>